openapi: 3.0.3
info:
  title: FRED API
  version: '1.0'
  description: >-
    Federal Reserve Economic Data (FRED) API — the public web service operated
    by the Research Division of the Federal Reserve Bank of St. Louis. Provides
    programmatic access to 800,000+ economic time series across Categories,
    Releases, Series, Sources, and Tags endpoint families plus the underlying
    Series Observations endpoint that returns the actual time-series values.
    All endpoints accept an api_key, optional realtime_start / realtime_end
    parameters (ALFRED vintages), and a file_type parameter (xml | json).
  contact:
    name: Federal Reserve Bank of St. Louis — Research Division
    url: https://fred.stlouisfed.org/docs/api/fred/
  license:
    name: U.S. Government Work / Public Domain (most series)
    url: https://fred.stlouisfed.org/legal/
  termsOfService: https://fred.stlouisfed.org/legal/
  x-generated-from: documentation
  x-last-validated: '2026-05-28'

servers:
  - url: https://api.stlouisfed.org/fred
    description: Production FRED API

tags:
  - name: Categories
    description: Category hierarchy navigation — children, related, series, and tags within a category.
  - name: Releases
    description: Economic data releases — schedules, member series, sources, and tags per release.
  - name: Series
    description: Economic data series metadata, search, categorization, release linkage, tags, updates, and vintages.
  - name: Observations
    description: The underlying time-series data values, with frequency aggregation and unit transformations.
  - name: Sources
    description: Originating institutions for FRED series (BLS, BEA, OECD, etc.) and the releases they publish.
  - name: Tags
    description: Faceted classification across FRED — tag listings, related tags, and tag-matched series.

security:
  - ApiKeyAuth: []

paths:

  # ─────────────────────────────────────────────────────────────────────
  # CATEGORIES
  # ─────────────────────────────────────────────────────────────────────

  /category:
    get:
      operationId: getCategory
      summary: FRED Get a Category
      description: Get a category by ID.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - name: category_id
          in: query
          required: true
          description: Numeric ID of the FRED category to retrieve.
          schema: {type: integer, default: 0}
          example: 125
      responses:
        '200':
          description: A single category.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CategoryList'}
              examples:
                Getcategory200Example:
                  summary: Default getCategory 200 response
                  x-microcks-default: true
                  value:
                    categories:
                      - id: 125
                        name: Trade Balance
                        parent_id: 13
                      - id: 13
                        name: International Data
                        parent_id: 0
        '400': {$ref: '#/components/responses/BadRequest'}
        '403': {$ref: '#/components/responses/Forbidden'}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK

  /category/children:
    get:
      operationId: getCategoryChildren
      summary: FRED Get the Child Categories for a Category
      description: Get the child categories for a specified parent category.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: category_id, in: query, required: true, description: Parent category ID., schema: {type: integer, default: 0}, example: 125}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: List of child categories.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CategoryList'}
              examples:
                Getcategorychildren200Example:
                  summary: Default getCategoryChildren 200 response
                  x-microcks-default: true
                  value:
                    categories:
                      - id: 125
                        name: Trade Balance
                        parent_id: 13
                      - id: 13
                        name: International Data
                        parent_id: 0
        '400': {$ref: '#/components/responses/BadRequest'}
        '403': {$ref: '#/components/responses/Forbidden'}
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /category/related:
    get:
      operationId: getCategoryRelated
      summary: FRED Get the Related Categories for a Category
      description: Get the related categories for a category. Two categories are related when one is not the parent or child of the other but the FRED editorial staff have judged them as related.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: category_id, in: query, required: true, description: The seed category ID., schema: {type: integer}, example: 125}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: List of related categories.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CategoryList'}
              examples:
                Getcategoryrelated200Example:
                  summary: Default getCategoryRelated 200 response
                  x-microcks-default: true
                  value:
                    categories:
                      - id: 125
                        name: Trade Balance
                        parent_id: 13
                      - id: 13
                        name: International Data
                        parent_id: 0
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /category/series:
    get:
      operationId: getCategorySeries
      summary: FRED Get the Series in a Category
      description: Get the series in a category.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: category_id, in: query, required: true, description: The category to enumerate., schema: {type: integer}, example: 125}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderBySeries'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/FilterVariable'
        - $ref: '#/components/parameters/FilterValue'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
      responses:
        '200':
          description: Series in the category.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Getcategoryseries200Example:
                  summary: Default getCategorySeries 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /category/tags:
    get:
      operationId: getCategoryTags
      summary: FRED Get the Tags for a Category
      description: Get the FRED tags for a category.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: category_id, in: query, required: true, description: The category to list tags for., schema: {type: integer}, example: 125}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Tags for the category.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getcategorytags200Example:
                  summary: Default getCategoryTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /category/related_tags:
    get:
      operationId: getCategoryRelatedTags
      summary: FRED Get the Related Tags for a Category
      description: Get the related FRED tags for one or more FRED tags within a category.
      tags: [Categories]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: category_id, in: query, required: true, schema: {type: integer}, description: Seed category., example: 125}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Related tags for the category.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getcategoryrelatedtags200Example:
                  summary: Default getCategoryRelatedTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  # ─────────────────────────────────────────────────────────────────────
  # RELEASES
  # ─────────────────────────────────────────────────────────────────────

  /releases:
    get:
      operationId: getReleases
      summary: FRED Get All Releases of Economic Data
      description: Get all releases of economic data.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByReleases'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: All releases.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseList'}
              examples:
                Getreleases200Example:
                  summary: Default getReleases 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_id
                    sort_order: asc
                    count: 326
                    offset: 0
                    limit: 1000
                    releases:
                      - id: 9
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Advance Monthly Sales for Retail and Food Services
                        press_release: true
                        link: http://www.census.gov/retail/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /releases/dates:
    get:
      operationId: getReleasesDates
      summary: FRED Get Release Dates for All Releases of Economic Data
      description: Get release dates for all releases of economic data.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - {name: order_by, in: query, schema: {type: string, enum: [release_date, release_id, release_name]}, description: Ordering field., example: series_count}
        - $ref: '#/components/parameters/SortOrder'
        - {name: include_release_dates_with_no_data, in: query, schema: {type: boolean, default: false}, description: Include releases that have no data., example: false}
      responses:
        '200':
          description: Release dates across all releases.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseDateList'}
              examples:
                Getreleasesdates200Example:
                  summary: Default getReleasesDates 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_date
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    release_dates:
                      - release_id: 9
                        release_name: Advance Monthly Sales for Retail and Food Services
                        date: '2026-05-14'
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release:
    get:
      operationId: getRelease
      summary: FRED Get a Release of Economic Data
      description: Get a release of economic data by ID.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: A single release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseList'}
              examples:
                Getrelease200Example:
                  summary: Default getRelease 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_id
                    sort_order: asc
                    count: 326
                    offset: 0
                    limit: 1000
                    releases:
                      - id: 9
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Advance Monthly Sales for Retail and Food Services
                        press_release: true
                        link: http://www.census.gov/retail/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/dates:
    get:
      operationId: getReleaseDates
      summary: FRED Get the Release Dates for a Release of Economic Data
      description: Get the release dates for a release of economic data.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit10000'
        - $ref: '#/components/parameters/Offset'
        - {name: sort_order, in: query, schema: {type: string, enum: [asc, desc]}, description: Sort by release date., example: asc}
        - {name: include_release_dates_with_no_data, in: query, schema: {type: boolean, default: false}, description: Include dates that have no data attached., example: false}
      responses:
        '200':
          description: Release dates for the release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseDateList'}
              examples:
                Getreleasedates200Example:
                  summary: Default getReleaseDates 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_date
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    release_dates:
                      - release_id: 9
                        release_name: Advance Monthly Sales for Retail and Food Services
                        date: '2026-05-14'
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/series:
    get:
      operationId: getReleaseSeries
      summary: FRED Get the Series on a Release of Economic Data
      description: Get the series on a release of economic data.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderBySeries'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/FilterVariable'
        - $ref: '#/components/parameters/FilterValue'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
      responses:
        '200':
          description: Series on the release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Getreleaseseries200Example:
                  summary: Default getReleaseSeries 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/sources:
    get:
      operationId: getReleaseSources
      summary: FRED Get the Sources for a Release of Economic Data
      description: Get the sources for a release of economic data.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: Sources for the release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SourceList'}
              examples:
                Getreleasesources200Example:
                  summary: Default getReleaseSources 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: source_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    sources:
                      - id: 1
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Board of Governors of the Federal Reserve System (US)
                        link: http://www.federalreserve.gov/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/tags:
    get:
      operationId: getReleaseTags
      summary: FRED Get the Tags for a Release
      description: Get the FRED tags for a release.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Tags for the release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getreleasetags200Example:
                  summary: Default getReleaseTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/related_tags:
    get:
      operationId: getReleaseRelatedTags
      summary: FRED Get the Related Tags for a Release
      description: Get the related FRED tags for one or more FRED tags within a release.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Related tags for the release.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getreleaserelatedtags200Example:
                  summary: Default getReleaseRelatedTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /release/tables:
    get:
      operationId: getReleaseTables
      summary: FRED Get Release Tables
      description: Get release table trees for a given release. Returns the table tree of a release.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: release_id, in: query, required: true, schema: {type: integer}, description: Numeric release ID., example: 9}
        - {name: element_id, in: query, schema: {type: integer}, description: Optional element of the release table to root the tree at., example: 12886}
        - {name: include_observation_values, in: query, schema: {type: boolean, default: false}, description: Include observation values inline., example: false}
        - {name: observation_date, in: query, schema: {type: string, format: date}, description: Date of the observations to include (YYYY-MM-DD)., example: '2026-04-01'}
      responses:
        '200':
          description: Release table tree.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseTable'}
              examples:
                Getreleasetables200Example:
                  summary: Default getReleaseTables 200 response
                  x-microcks-default: true
                  value:
                    name: Personal consumption expenditures
                    element_id: 12886
                    release_id: 53
                    elements:
                      '12886':
                        element_id: 12886
                        release_id: 53
                        series_id: DGDSRC1
                        parent_id: 12885
                        line: '5'
                        type: series
                        name: Goods
                        level: '1'
                        children: []
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  # ─────────────────────────────────────────────────────────────────────
  # SERIES
  # ─────────────────────────────────────────────────────────────────────

  /series:
    get:
      operationId: getSeries
      summary: FRED Get an Economic Data Series
      description: Get an economic data series by ID.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID (e.g. GNPCA, UNRATE).: null, example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: A single series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Getseries200Example:
                  summary: Default getSeries 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/categories:
    get:
      operationId: getSeriesCategories
      summary: FRED Get the Categories for an Economic Data Series
      description: Get the categories for an economic data series.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID., example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: Categories that contain the series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CategoryList'}
              examples:
                Getseriescategories200Example:
                  summary: Default getSeriesCategories 200 response
                  x-microcks-default: true
                  value:
                    categories:
                      - id: 125
                        name: Trade Balance
                        parent_id: 13
                      - id: 13
                        name: International Data
                        parent_id: 0
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/observations:
    get:
      operationId: getSeriesObservations
      summary: FRED Get the Observations or Data Values for an Economic Data Series
      description: Get the observations or data values for an economic data series. Supports frequency aggregation and unit transformations.
      tags: [Observations]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID., example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit100000'
        - $ref: '#/components/parameters/Offset'
        - {name: sort_order, in: query, schema: {type: string, enum: [asc, desc], default: asc}, description: Sort by observation_date., example: asc}
        - {name: observation_start, in: query, schema: {type: string, format: date, default: '1776-07-04'}, description: Earliest observation date (YYYY-MM-DD)., example: '2020-01-01'}
        - {name: observation_end, in: query, schema: {type: string, format: date, default: '9999-12-31'}, description: Latest observation date (YYYY-MM-DD)., example: '2026-04-01'}
        - {name: units, in: query, schema: {type: string, enum: [lin, chg, ch1, pch, pc1, pca, cch, cca, log], default: lin}, description: Unit transformation applied to the data., example: lin}
        - {name: frequency, in: query, schema: {type: string, enum: [d, w, bw, m, q, sa, a, wef, weth, wew, wetu, wem, wesu, wesa, bwew, bwem]}, description: Frequency to aggregate the series to., example: m}
        - {name: aggregation_method, in: query, schema: {type: string, enum: [avg, sum, eop], default: avg}, description: How to aggregate when a frequency is supplied., example: avg}
        - {name: output_type, in: query, schema: {type: integer, enum: [1, 2, 3, 4], default: 1}, description: Observations output type. 1=observations by real-time period, 2=observations by vintage date: null, 3=observations by vintage date with all data: null, 4=observations by initial release only.: null, example: 1}
        - {name: vintage_dates, in: query, schema: {type: string}, description: Comma-separated list of YYYY-MM-DD vintage dates., example: '2024-01-15,2025-01-15'}
      responses:
        '200':
          description: Observations for the series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ObservationList'}
              examples:
                Getseriesobservations200Example:
                  summary: Default getSeriesObservations 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    observation_start: '2025-01-01'
                    observation_end: '2026-04-01'
                    units: lin
                    output_type: 1
                    file_type: json
                    order_by: observation_date
                    sort_order: asc
                    count: 4
                    offset: 0
                    limit: 100000
                    observations:
                      - realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        date: '2026-01-01'
                        value: '4.0'
                      - realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        date: '2026-02-01'
                        value: '4.1'
                      - realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        date: '2026-03-01'
                        value: '3.9'
                      - realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        date: '2026-04-01'
                        value: '4.0'
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/release:
    get:
      operationId: getSeriesRelease
      summary: FRED Get the Release for an Economic Data Series
      description: Get the release for an economic data series.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID., example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: Release for the series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseList'}
              examples:
                Getseriesrelease200Example:
                  summary: Default getSeriesRelease 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_id
                    sort_order: asc
                    count: 326
                    offset: 0
                    limit: 1000
                    releases:
                      - id: 9
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Advance Monthly Sales for Retail and Food Services
                        press_release: true
                        link: http://www.census.gov/retail/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/search:
    get:
      operationId: searchSeries
      summary: FRED Get Economic Data Series That Match Keywords
      description: Get economic data series that match keywords.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: search_text, in: query, required: true, schema: {type: string}, description: Words to match against series IDs, titles: null, units: null, frequencies: null, and notes.: null, example: monetary aggregates}
        - {name: search_type, in: query, schema: {type: string, enum: [full_text, series_id], default: full_text}, description: Type of search.}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - {name: order_by, in: query, schema: {type: string, enum: [search_rank, series_id, title, units, frequency, seasonal_adjustment, realtime_start, realtime_end, last_updated, observation_start, observation_end, popularity, group_popularity]}, description: Ordering field., example: series_count}
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/FilterVariable'
        - $ref: '#/components/parameters/FilterValue'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
      responses:
        '200':
          description: Series matching the search.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Searchseries200Example:
                  summary: Default searchSeries 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/search/tags:
    get:
      operationId: searchSeriesTags
      summary: FRED Get the Tags for a Series Search
      description: Get the FRED tags for a series search. Find tags that match the search text and are also assigned to series matching that search.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_search_text, in: query, required: true, schema: {type: string}, description: Words to match against series titles., example: monetary}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - {name: tag_search_text, in: query, schema: {type: string}, description: Words to match against tag names., example: usa}
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Tags for the series search.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Searchseriestags200Example:
                  summary: Default searchSeriesTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/search/related_tags:
    get:
      operationId: searchSeriesRelatedTags
      summary: FRED Get the Related Tags for a Series Search
      description: Get the related FRED tags for one or more FRED tags matching a series search.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_search_text, in: query, required: true, schema: {type: string}, description: Words to match against series titles., example: monetary}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - {name: tag_search_text, in: query, schema: {type: string}, description: Words to match against tag names., example: usa}
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Related tags for the series search.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Searchseriesrelatedtags200Example:
                  summary: Default searchSeriesRelatedTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/tags:
    get:
      operationId: getSeriesTags
      summary: FRED Get the Tags for an Economic Data Series
      description: Get the FRED tags for an economic data series.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID., example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Tags for the series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getseriestags200Example:
                  summary: Default getSeriesTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/updates:
    get:
      operationId: getSeriesUpdates
      summary: FRED Get Economic Data Series Sorted by Last Updated Date
      description: Get economic data series sorted by when observations were updated on the FRED server.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - {name: filter_value, in: query, schema: {type: string, enum: [all, macro, regional], default: all}, description: Filter results by audience., example: monthly}
        - {name: start_time, in: query, schema: {type: string, pattern: '^[0-9]{12}$'}, description: Lower bound for when a series was updated (YYYYMMDDHhmm)., example: '202601010000'}
        - {name: end_time, in: query, schema: {type: string, pattern: '^[0-9]{12}$'}, description: Upper bound for when a series was updated (YYYYMMDDHhmm)., example: '202605280000'}
      responses:
        '200':
          description: Recently updated series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Getseriesupdates200Example:
                  summary: Default getSeriesUpdates 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /series/vintagedates:
    get:
      operationId: getSeriesVintageDates
      summary: FRED Get the Dates in History When a Series Was Revised or Newly Released
      description: Get the dates in history when a series' data values were revised or new data values were released.
      tags: [Series]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: series_id, in: query, required: true, schema: {type: string}, description: The FRED series ID., example: UNRATE}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit10000'
        - $ref: '#/components/parameters/Offset'
        - {name: sort_order, in: query, schema: {type: string, enum: [asc, desc]}, description: Sort by vintage_date., example: asc}
      responses:
        '200':
          description: Vintage dates for the series.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/VintageDateList'}
              examples:
                Getseriesvintagedates200Example:
                  summary: Default getSeriesVintageDates 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '1776-07-04'
                    realtime_end: '9999-12-31'
                    order_by: vintage_date
                    sort_order: asc
                    count: 2
                    offset: 0
                    limit: 10000
                    vintage_dates:
                      - '1958-12-21'
                      - '2026-05-02'
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  # ─────────────────────────────────────────────────────────────────────
  # SOURCES
  # ─────────────────────────────────────────────────────────────────────

  /sources:
    get:
      operationId: getSources
      summary: FRED Get All Sources of Economic Data
      description: Get all sources of economic data.
      tags: [Sources]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - {name: order_by, in: query, schema: {type: string, enum: [source_id, name, realtime_start, realtime_end], default: source_id}, description: Ordering field., example: series_count}
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: All sources.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SourceList'}
              examples:
                Getsources200Example:
                  summary: Default getSources 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: source_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    sources:
                      - id: 1
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Board of Governors of the Federal Reserve System (US)
                        link: http://www.federalreserve.gov/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /source:
    get:
      operationId: getSource
      summary: FRED Get a Source of Economic Data
      description: Get a source of economic data by ID.
      tags: [Sources]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: source_id, in: query, required: true, schema: {type: integer}, description: Numeric source ID., example: 1}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
      responses:
        '200':
          description: A single source.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SourceList'}
              examples:
                Getsource200Example:
                  summary: Default getSource 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: source_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    sources:
                      - id: 1
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Board of Governors of the Federal Reserve System (US)
                        link: http://www.federalreserve.gov/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /source/releases:
    get:
      operationId: getSourceReleases
      summary: FRED Get the Releases for a Source
      description: Get the releases for a source.
      tags: [Sources]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - {name: source_id, in: query, required: true, schema: {type: integer}, description: Numeric source ID., example: 1}
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByReleases'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Releases for the source.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ReleaseList'}
              examples:
                Getsourcereleases200Example:
                  summary: Default getSourceReleases 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: release_id
                    sort_order: asc
                    count: 326
                    offset: 0
                    limit: 1000
                    releases:
                      - id: 9
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        name: Advance Monthly Sales for Retail and Food Services
                        press_release: true
                        link: http://www.census.gov/retail/
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  # ─────────────────────────────────────────────────────────────────────
  # TAGS
  # ─────────────────────────────────────────────────────────────────────

  /tags:
    get:
      operationId: getTags
      summary: FRED Get FRED Tags
      description: Get FRED tags. Optionally filtered by tag names, group_id, or search text.
      tags: [Tags]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: List of tags.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Gettags200Example:
                  summary: Default getTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /related_tags:
    get:
      operationId: getRelatedTags
      summary: FRED Get the Related FRED Tags for One or More FRED Tags
      description: Get the related FRED tags for one or more FRED tags. Related tags are tags assigned to series that also have all of the tag_names tags.
      tags: [Tags]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
        - $ref: '#/components/parameters/TagGroupId'
        - $ref: '#/components/parameters/SearchText'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderByTags'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Related tags.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TagList'}
              examples:
                Getrelatedtags200Example:
                  summary: Default getRelatedTags 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_count
                    sort_order: desc
                    count: 2
                    offset: 0
                    limit: 1000
                    tags:
                      - name: monthly
                        group_id: freq
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 100
                        series_count: 380000
                      - name: nation
                        group_id: geot
                        notes: ''
                        created: '2012-02-27 10:18:19-06'
                        popularity: 99
                        series_count: 110000
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

  /tags/series:
    get:
      operationId: getTagsSeries
      summary: FRED Get the Series Matching All Tags
      description: Get the series matching all of the supplied tags.
      tags: [Tags]
      parameters:
        - $ref: '#/components/parameters/ApiKey'
        - $ref: '#/components/parameters/FileType'
        - $ref: '#/components/parameters/TagNames'
        - $ref: '#/components/parameters/ExcludeTagNames'
        - $ref: '#/components/parameters/RealtimeStart'
        - $ref: '#/components/parameters/RealtimeEnd'
        - $ref: '#/components/parameters/Limit1000'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/OrderBySeries'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: Series matching the tags.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SeriesList'}
              examples:
                Gettagsseries200Example:
                  summary: Default getTagsSeries 200 response
                  x-microcks-default: true
                  value:
                    realtime_start: '2026-05-28'
                    realtime_end: '2026-05-28'
                    order_by: series_id
                    sort_order: asc
                    count: 1
                    offset: 0
                    limit: 1000
                    seriess:
                      - id: UNRATE
                        realtime_start: '2026-05-28'
                        realtime_end: '2026-05-28'
                        title: Unemployment Rate
                        observation_start: '1948-01-01'
                        observation_end: '2026-04-01'
                        frequency: Monthly
                        frequency_short: M
                        units: Percent
                        units_short: '%'
                        seasonal_adjustment: Seasonally Adjusted
                        seasonal_adjustment_short: SA
                        last_updated: '2026-05-02 07:46:10-05'
                        popularity: 95
                        group_popularity: 95
                        notes: The unemployment rate represents the number of unemployed as a percentage of the labor force.
      x-microcks-operation: {delay: 0, dispatcher: FALLBACK}

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: 32-character lower-case alphanumeric FRED API key. Register at https://fred.stlouisfed.org/docs/api/api_key.html.

  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: 32-character lower-case alphanumeric FRED API key.
      schema:
        type: string
        pattern: '^[0-9a-f]{32}$'
      example: abcdef0123456789abcdef0123456789
    FileType:
      name: file_type
      in: query
      required: false
      description: Response format. xml (default) or json. The observations endpoint additionally accepts xlsx and csv.
      schema:
        type: string
        enum: [xml, json, xlsx, csv, txt]
        default: xml
      example: json
    RealtimeStart:
      name: realtime_start
      in: query
      required: false
      description: Start of the real-time period (YYYY-MM-DD). Defaults to today.
      schema:
        type: string
        format: date
      example: '2026-05-28'
    RealtimeEnd:
      name: realtime_end
      in: query
      required: false
      description: End of the real-time period (YYYY-MM-DD). Defaults to today.
      schema:
        type: string
        format: date
      example: '2026-05-28'
    Limit1000:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return (1–1000).
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 1000
      example: 100
    Limit10000:
      name: limit
      in: query
      required: false
      description: Maximum number of results to return (1–10000).
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 10000
      example: 100
    Limit100000:
      name: limit
      in: query
      required: false
      description: Maximum number of observations to return (1–100000).
      schema:
        type: integer
        minimum: 1
        maximum: 100000
        default: 100000
      example: 100
    Offset:
      name: offset
      in: query
      required: false
      description: Non-negative integer offset into the result set for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    SortOrder:
      name: sort_order
      in: query
      required: false
      description: Sort order. asc (ascending, default) or desc (descending).
      schema:
        type: string
        enum: [asc, desc]
        default: asc
      example: asc
    OrderBySeries:
      name: order_by
      in: query
      required: false
      description: Field to order series results by.
      schema:
        type: string
        enum: [series_id, title, units, frequency, seasonal_adjustment, realtime_start, realtime_end, last_updated, observation_start, observation_end, popularity, group_popularity]
      example: series_count
    OrderByReleases:
      name: order_by
      in: query
      required: false
      description: Field to order release results by.
      schema:
        type: string
        enum: [release_id, name, press_release, realtime_start, realtime_end]
      example: series_count
    OrderByTags:
      name: order_by
      in: query
      required: false
      description: Field to order tag results by.
      schema:
        type: string
        enum: [series_count, popularity, created, name, group_id]
        default: series_count
      example: series_count
    FilterVariable:
      name: filter_variable
      in: query
      required: false
      description: Attribute to filter series results by.
      schema:
        type: string
        enum: [frequency, units, seasonal_adjustment]
      example: frequency
    FilterValue:
      name: filter_value
      in: query
      required: false
      description: Value of the filter_variable attribute to match.
      schema:
        type: string
      example: monthly
    TagNames:
      name: tag_names
      in: query
      required: false
      description: Semicolon-separated list of tag names to require.
      schema:
        type: string
      example: monthly;usa
    ExcludeTagNames:
      name: exclude_tag_names
      in: query
      required: false
      description: Semicolon-separated list of tag names to exclude.
      schema:
        type: string
      example: discontinued
    TagGroupId:
      name: tag_group_id
      in: query
      required: false
      description: Group identifier for tags — freq, gen, geo, geot, rls, seas, src.
      schema:
        type: string
        enum: [freq, gen, geo, geot, rls, seas, src]
      example: freq
    SearchText:
      name: search_text
      in: query
      required: false
      description: Words to match against tag names and descriptions.
      schema:
        type: string

      example: monetary aggregates
  responses:
    BadRequest:
      description: Bad Request — required parameter missing or invalid.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Forbidden:
      description: Forbidden — API key missing or invalid.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}

  schemas:

    Category:
      type: object
      description: A FRED category node.
      properties:
        id: {type: integer, description: Numeric category ID., example: 1}
        name: {type: string, description: Display name of the category., example: Unemployment Rate}
        parent_id: {type: integer, description: Parent category ID., example: 0}
        notes: {type: string, description: Optional editorial notes., example: Editorial notes.}
      required: [id, name, parent_id]

    CategoryList:
      type: object
      description: A list of FRED categories.
      properties:
        categories:
          type: array
          items: {$ref: '#/components/schemas/Category'}
      required: [categories]

    Release:
      type: object
      description: A FRED release of economic data.
      properties:
        id: {type: integer, description: Numeric release ID., example: 1}
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        name: {type: string, description: Display name of the release., example: Unemployment Rate}
        press_release: {type: boolean, description: True if this release is also a press release., example: false}
        link: {type: string, format: uri, description: Provider link for the release., example: https://fred.stlouisfed.org/}
        notes: {type: string, description: Editorial notes., example: Editorial notes.}
      required: [id, name]

    ReleaseList:
      type: object
      description: A list of FRED releases.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, description: Total count of releases matched., example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        releases:
          type: array
          items: {$ref: '#/components/schemas/Release'}
      required: [releases]

    ReleaseDate:
      type: object
      description: A scheduled or historical release date.
      properties:
        release_id: {type: integer, example: 9}
        release_name: {type: string, example: example}
        date: {type: string, format: date, example: '2026-05-28'}
      required: [release_id, date]

    ReleaseDateList:
      type: object
      description: A list of release dates.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        release_dates:
          type: array
          items: {$ref: '#/components/schemas/ReleaseDate'}
      required: [release_dates]

    ReleaseTable:
      type: object
      description: A release table tree node.
      properties:
        name: {type: string, example: Unemployment Rate}
        element_id: {type: integer, example: 1}
        release_id: {type: integer, example: 9}
        elements:
          type: object
          description: Map of element_id → child element.
          additionalProperties:
            type: object
            properties:
              element_id: {type: integer}
              release_id: {type: integer}
              series_id: {type: string}
              parent_id: {type: integer}
              line: {type: string}
              type: {type: string}
              name: {type: string}
              level: {type: string}
              children:
                type: array
                items: {type: object}
      required: [release_id, elements]

    Series:
      type: object
      description: A FRED economic data series and its metadata.
      properties:
        id: {type: string, description: FRED series ID (e.g. UNRATE, GNPCA).: null, example: UNRATE}
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        title: {type: string, description: Display title of the series., example: Unemployment Rate}
        observation_start: {type: string, format: date, description: First available observation date., example: '2026-05-28'}
        observation_end: {type: string, format: date, description: Last available observation date., example: '2026-05-28'}
        frequency: {type: string, description: Display frequency (e.g. "Monthly")., example: Monthly}
        frequency_short: {type: string, description: Frequency code (d, w: null, m: null, q: null, a).: null, example: Monthly}
        units: {type: string, description: Display unit string., example: Percent}
        units_short: {type: string, description: Short unit string., example: Percent}
        seasonal_adjustment: {type: string, description: Seasonal adjustment description., example: Seasonally Adjusted}
        seasonal_adjustment_short: {type: string, description: Seasonal adjustment code (SA, NSA: null, SAAR: null, NSAAR: null, SSA).: null, example: SA}
        last_updated: {type: string, description: ISO-8601 timestamp of last update., example: '2026-05-02 07:46:10-05'}
        popularity: {type: integer, description: Popularity score 0–100., example: 95}
        group_popularity: {type: integer, description: Group popularity score 0–100., example: 95}
        notes: {type: string, description: Editorial notes for the series., example: Editorial notes.}
      required: [id, title]

    SeriesList:
      type: object
      description: A list of FRED series.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        seriess:
          type: array
          description: Array of series (FRED uses the legacy "seriess" key intentionally).
          items: {$ref: '#/components/schemas/Series'}
      required: [seriess]

    Observation:
      type: object
      description: A single time-series observation.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        date: {type: string, format: date, description: Observation date., example: '2026-05-28'}
        value: {type: string, description: Observation value (string to preserve "." for missing values)., example: '4.0'}
      required: [date, value]

    ObservationList:
      type: object
      description: A list of observations for a series.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        observation_start: {type: string, format: date, example: '2026-05-28'}
        observation_end: {type: string, format: date, example: '2026-05-28'}
        units: {type: string, example: Percent}
        output_type: {type: integer, example: 1}
        file_type: {type: string, example: example}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        observations:
          type: array
          items: {$ref: '#/components/schemas/Observation'}
      required: [observations]

    Source:
      type: object
      description: An originating source of FRED economic data.
      properties:
        id: {type: integer, example: 1}
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        name: {type: string, example: Unemployment Rate}
        link: {type: string, format: uri, example: https://fred.stlouisfed.org/}
        notes: {type: string, example: Editorial notes.}
      required: [id, name]

    SourceList:
      type: object
      description: A list of FRED sources.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        sources:
          type: array
          items: {$ref: '#/components/schemas/Source'}
      required: [sources]

    Tag:
      type: object
      description: A FRED tag.
      properties:
        name: {type: string, description: Lower-case tag name., example: Unemployment Rate}
        group_id: {type: string, description: Tag group id (freq, gen: null, geo: null, geot: null, rls: null, seas: null, src).: null, example: freq}
        notes: {type: string, description: Editorial notes., example: Editorial notes.}
        created: {type: string, description: ISO-8601 created timestamp., example: example}
        popularity: {type: integer, description: Popularity score 0–100., example: 95}
        series_count: {type: integer, description: Number of series carrying this tag., example: 380000}
      required: [name, group_id]

    TagList:
      type: object
      description: A list of FRED tags.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        tags:
          type: array
          items: {$ref: '#/components/schemas/Tag'}
      required: [tags]

    VintageDateList:
      type: object
      description: A list of vintage (release) dates for a series.
      properties:
        realtime_start: {type: string, format: date, example: '2026-05-28'}
        realtime_end: {type: string, format: date, example: '2026-05-28'}
        order_by: {type: string, example: example}
        sort_order: {type: string, example: example}
        count: {type: integer, example: 1}
        offset: {type: integer, example: 0}
        limit: {type: integer, example: 1000}
        vintage_dates:
          type: array
          items: {type: string, format: date}
      required: [vintage_dates]

    ErrorResponse:
      type: object
      description: FRED error response.
      properties:
        error_code: {type: integer, description: Numeric error code returned by FRED., example: 400}
        error_message: {type: string, description: Human-readable error message., example: example}
      required: [error_code, error_message]
